* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --inputbg: #000;
  --color: #fff;
  --bg1: transparent;
  --bg2: transparent;
}

body {
  background-color: #222;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

body.active {
  background-color: #bbbbbb;
  color: #000;
}

.crud {
  width: 80%;
  margin: auto;
}

.head {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}

input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: var(--inputbg);
  margin: 5px 0;
  padding: 0 10px;
  font-size: 15px;
  color: #fff;
}

input:focus {
  background: #000;
  border: 1px solid rgb(80, 79, 79);
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price input {
  flex: 1;
}

#total {
  background: red;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

#total::before {
  content: "Total: ";
}

button {
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  background: rgb(16, 80, 163);
  color: #fff;
  font-size: 15px;
  border-radius: 4px;
  margin: 5px 0;
  transition: background 0.3s, letter-spacing 0.3s;
}

button:hover {
  /* background: rgb(25, 104, 207); */
  background: green;
}

button:active {
  transform: scale(0.98);
}

.btnSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnSearch button {
  width: 40%;
}

table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  border-collapse: collapse;
  border: none;
}

table th {
  text-transform: uppercase;
  /* border-bottom: 1px solid rgb(80, 79, 79); */
  background: var(--inputbg);
}

tbody tr {
  color: var(--color);
}

tbody tr:nth-child(even) {
  /* border-bottom: 1px solid rgb(80, 79, 79); */
  background-color: var(--inputbg);
}
tbody tr:last-child {
  border-bottom: 1px solid #555;
}

th,
td {
  padding: 5px;
  border: none;
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid rgb(80, 79, 79);
}

#update {
  background: var(--bg2);
}
#delete {
  background: var(--bg1);
}
#update,
#delete {
  border: 2px solid rgb(80, 79, 79);
  transition: background 0.3s, border-color 0.3s;
}

#update:hover {
  background: rgb(16, 80, 163);
  border-color: rgb(16, 80, 163);
}

#delete:hover {
  background: red;
  border-color: red;
}

#deleteAll button:hover {
  background-color: red;
}

.sw {
  width: 50px;
  height: 20px;
  background: black;
  display: block;
  margin: 5px auto;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.sw .bol {
  background-color: #fff;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: 0;
  border: 1px solid black;
  transition: transform 0.3s;
}

.sw .bol.active {
  transform: translateX(30px);
}
